*{
    box-sizing: border-box;
    padding: auto;
    margin: 0px auto;
}

body{
    background-color: #DEE2E8;
}

#clearfix{
    clear: both;
    overflow: auto;
}

#contenedor{
    width: 500px;
    background-color: white; 
    transform: translateY(80px);
    border: 1px solid white; 
    border-radius: 10px 10px 10px 10px;
    height: auto;
    overflow: hidden;
}

#cabecera{
    
    float: left;
    width: 100%;
    /* background-image: url(https://images.theconversation.com/files/232705/original/file-20180820-30593-1nxanpj.jpg?ixlib=rb-1.10&q=45&auto=format&w=496&fit=clip); */
    
}

#imagen{
    float: left;
    width: 100%;  
}
#imagen img{
    width: 100%;  
}

#fecha_user{
    display: block;
    width: 100%;
    padding: 5px;
    padding-left: 15px;
    background-color: #5EFFCC;
    overflow: hidden;
}

#fecha{
    float: left;
    width: 60%;
}

#user{
    float: left;
    width: 40%;
  
}

#user img{
   width: 90px;
   height: 90px;
   border-radius: 50%;
   border: 2px solid white;
   position: absolute;
   transform: translateX(80px) translateY(-38px);


}

#fecha h3{
    font-family: monospace;
    font-weight: lighter;
}


#lista{

    float: left;
    width: 100%;
    padding: 20px;
    background-color: white;
}


#anadir{
 
    float: left;
    width: 100%;
    padding: 30px;
    
}

#izquierda{
    float: left;
    width: 75%;
    padding: 5px;
    margin-right: 5px;
}

#derecha{
    float: left;
    width: 20%;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50; /* Green */
    padding: 5px;
    border-radius: 12px;
  
}