*{
    box-sizing: border-box;
    padding: auto;
    margin: 0px auto;
}

body{
    background-color: #DEE2E8;
}

#clearfix{
    clear: both;
    overflow: auto;
}

#contenedor{
    margin-top: 10px;
    width: 500px; 
    background-color: white; 
    border: 1px solid black; 
    border-radius: 10px 10px 0px 0px;
    height: auto;
    overflow: hidden;
}

#cabecera{
    
    float: left;
    width: 100%;
    /* background-image: url(https://images.theconversation.com/files/232705/original/file-20180820-30593-1nxanpj.jpg?ixlib=rb-1.10&q=45&auto=format&w=496&fit=clip); */
    
}

#imagen{
    float: left;
    width: 100%;
    
}

#fecha{
    float: left;
    width: 100%;
    padding: 5px;
    padding-left: 10px;
}

#fecha h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}


#lista{

    float: left;
    width: 100%;
    padding: 20px;
    background-color: white;
}

#lista p{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

#anadir{
 
    float: left;
    width: 100%;
    padding: 10px;
    
}

#izquierda{
    float: left;
    width: 80%;
}

#derecha{
    float: left;
    width: 20%;
  
}