*{
    box-sizing: border-box;
    padding: auto;
    margin: 0px auto;
}

body{
    background-color: #DEE2E8;
}

#clearfix{
    clear: both;
    overflow: auto;
}

#contenedor{
    margin-top: 30px;
    width: 500px;
    background-color: white; 
    border: 1px solid black; 
    border-radius: 10px 10px 10px 10px;
    height: auto;
    overflow: hidden;
}

#cabecera{
    
    float: left;
    width: 100%;
    /* background-image: url(https://images.theconversation.com/files/232705/original/file-20180820-30593-1nxanpj.jpg?ixlib=rb-1.10&q=45&auto=format&w=496&fit=clip); */
    
}

#imagen{
    float: left;
    width: 100%;  
}
#imagen img{
    width: 100%;  
}

#fecha{
    float: left;
    width: 100%;
    padding: 5px;
    padding-left: 15px;
    background-color: rosybrown;
}

#fecha h3{
    font-family: monospace;
    font-weight: lighter;
}


#lista{

    float: left;
    width: 100%;
    padding: 20px;
    background-color: white;
}


#anadir{
 
    float: left;
    width: 100%;
    padding: 10px;
    
}

#izquierda{
    float: left;
    width: 80%;
}

#derecha{
    float: left;
    width: 20%;
  
}